<div>
  <nav>
    <div class="wrapper">
      <div class="logo">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/MIGOTOremovebg-preview.png"
          alt="logo"
          width="110"
          height="70"
        />
      </div>

      <ul class="nav-links">
        <li (click)="goto('dashboard')"><a>หน้าแรก</a></li>
        <li (click)="goto('product')"><a>สินค้า</a></li>
        <li (click)="goto('test')"><a>ติดต่อเรา</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <i class="pi pi-bars"></i>
      </label>
    </div>
  </nav>
</div>
