<div class="pages-container">
  <div class="content">
    <div class="flex justify-content-center mb-3">
      <div class="text-3xl">สินค้าของเรา</div>
    </div>
    <div class="grid">
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="เส้นราเมนแบบดั้งเดิมสีเหลือง"
          subheader="ขนาด 1.3 มม"
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="เส้นราเมนแบบแบน หรือสึเคเมน"
          subheader="ขนาด 3*2.3 มม."
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_9103-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="เส้นราเมนแบบเส้นเล็กสีธรรมชาติ"
          subheader="ขนาด 1.3 มม"
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_9154-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="เส้นราเมนสดชาร์โคล"
          subheader=" ขนาด 1.3 มม"
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_8988-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="แผ่นเกี๊ยวซ่ากลม"
          subheader=""
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_9047-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
      <div
        class="flex flex-column p-6 justify-content-center sm:col-12 lg:col-4"
      >
        <p-card
          header="อุด้งสดเส้นกลม"
          subheader=""
          [style]="{ width: '100%' }"
        >
          <ng-template pTemplate="header">
            <img
              loading="lazy"
              src="../../../assets/img/IMG_9214-Enhanced-NR.jpg"
              alt="Image"
              width="100%"
              height="100%"
            />
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
