<!-- <div class="test">
    <img src="../../../assets/img/logo.jpg" alt="logo" width="250" height="250">
    <div>MIGOTO RAMEN</div>
    <div style="font-size: 23px;">coming soon</div>
</div> -->

<div class="main-content">
  <div>
    <nav>
      <div class="wrapper">
        <div class="logo">
          <img
            style="margin-top: -5px"
            src="../../../assets/img/MIGOTOremovebg-preview.png"
            alt="logo"
            width="110"
            height="70"
          />
        </div>

        <ul class="nav-links">
          <li><a>หน้าแรก</a></li>
          <li><a>สินค้า</a></li>
          <li><a>ติดต่อเรา</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn">
          <i class="pi pi-bars"></i>
        </label>
      </div>
    </nav>
  </div>

  <div class="content">
    <div class="w-full mb-3">
      <img
        style="margin-top: -5px"
        src="../../../assets/img/IMG_8970-Enhanced-NR.jpg"
        alt="logo"
        width="100%"
        height="80%"
      />
    </div>
    <div class="flex justify-content-center mb-3">
      <div class="text-3xl">สินค้าตัวอย่าง</div>
    </div>
    <div class="grid">
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />

        <div>เส้น 1</div>
      </div>
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_9103-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />
        <div>เส้น 2</div>
      </div>
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_9154-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />
        <div>เส้น 3</div>
      </div>
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_8988-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />
        <div>เส้น 4</div>
      </div>
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_9047-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />
        <div>เส้น 5</div>
      </div>
      <div
        class="flex flex-column p-5 justify-content-center sm:col-12 lg:col-4"
      >
        <p-image
          src="../../../assets/img/IMG_9214-Enhanced-NR.jpg"
          alt="Image"
          width="100%"
          height="100%"
          [preview]="true"
        />

        <div>เส้น 6</div>
      </div>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="w-full h-1rem"></div>
</div>
