<!-- <div class="test">
    <img src="../../../assets/img/logo.jpg" alt="logo" width="250" height="250">
    <div>MIGOTO RAMEN</div>
    <div style="font-size: 23px;">coming soon</div>
</div> -->

<div style="width: 100%">
  <nav>
    <div class="wrapper">
      <div class="logo">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/MIGOTOremovebg-preview.png"
          alt="logo"
          width="120"
          height="80"
        />
      </div>

      <ul class="nav-links">
        <li><a>หน้าแรก</a></li>
        <li><a>สิ้นค้า</a></li>
        <li><a>ติดต่อเรา</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <i class="pi pi-bars"></i>
      </label>
    </div>
  </nav>

  <div class="body-text">
    <div class="grid">
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
      <div class="border-1 sm:col-12 lg:col-4 xl:col-2">
        <img
          style="margin-top: -5px"
          src="../../../assets/img/IMG_8938-Enhanced-NR.jpg"
          alt="logo"
          width="250"
          height="200"
        />
      </div>
    </div>
  </div>
</div>
